Integration Gmail, Google Sheets, Telegram Bot.blueprint.json
{
    "name": "Integration Gmail, Google Sheets, Telegram Bot",
    "flow": [
        {
            "id": 1,
            "module": "google-email:triggerWatchNewEmails",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 4063686,
                "filterType": "simpleSearch",
                "format": "full",
                "folder": "INBOX",
                "labelIds": "",
                "criteria": "all",
                "markSeen": false,
                "limit": 10,
                "from": "",
                "subject": "",
                "includeWords": "",
                "excludeWords": "",
                "size": {
                    "criteria": "larger",
                    "amount": null,
                    "unit": "M"
                },
                "hasAttachment": false
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Gmail connection (polene189@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google-email"
                            }
                        },
                        "filterType": {
                            "label": "Simple filter"
                        },
                        "format": {
                            "label": "Full content"
                        },
                        "folder": {
                            "label": "Inbox"
                        },
                        "labelIds": {
                            "label": "Empty"
                        },
                        "criteria": {
                            "label": "All messages"
                        },
                        "size": {
                            "nested": {
                                "criteria": {
                                    "label": "Greater than"
                                },
                                "unit": {
                                    "label": "MB (megabytes)"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-email",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "filterType",
                        "type": "select",
                        "label": "Filter type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "simpleSearch",
                                "gmailSearch"
                            ]
                        }
                    },
                    {
                        "name": "format",
                        "type": "select",
                        "label": "Content format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "full",
                                "raw",
                                "metadata",
                                "minimal"
                            ]
                        }
                    },
                    {
                        "name": "folder",
                        "type": "select",
                        "label": "Folder",
                        "required": true
                    },
                    {
                        "name": "labelIds",
                        "type": "select",
                        "label": "Label"
                    },
                    {
                        "name": "criteria",
                        "type": "select",
                        "label": "Criteria",
                        "required": true,
                        "validate": {
                            "enum": [
                                "all",
                                "is:read",
                                "is:unread"
                            ]
                        }
                    },
                    {
                        "name": "markSeen",
                        "type": "boolean",
                        "label": "Mark email message(s) as read when fetched"
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "validate": {
                            "max": 500
                        },
                        "required": true
                    },
                    {
                        "name": "from",
                        "type": "email",
                        "label": "Sender email address"
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "includeWords",
                        "type": "text",
                        "label": "Has the words"
                    },
                    {
                        "name": "excludeWords",
                        "type": "text",
                        "label": "Doesn't have"
                    },
                    {
                        "name": "size",
                        "type": "collection",
                        "label": "Email size",
                        "spec": [
                            {
                                "name": "criteria",
                                "type": "select",
                                "label": "Criteria",
                                "validate": {
                                    "enum": [
                                        "larger",
                                        "smaller"
                                    ]
                                }
                            },
                            {
                                "name": "amount",
                                "type": "integer",
                                "label": "Size",
                                "validate": {
                                    "min": 0
                                }
                            },
                            {
                                "name": "unit",
                                "type": "select",
                                "label": "Size unit",
                                "validate": {
                                    "enum": [
                                        "M",
                                        "K",
                                        "bytes"
                                    ]
                                }
                            }
                        ]
                    },
                    {
                        "name": "hasAttachment",
                        "type": "boolean",
                        "label": "Only emails with attachments/media",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Message ID"
                    },
                    {
                        "name": "threadId",
                        "type": "text",
                        "label": "Thread ID"
                    },
                    {
                        "name": "internalDate",
                        "type": "date",
                        "label": "Date"
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject",
                        "condition": true
                    },
                    {
                        "name": "fromName",
                        "type": "text",
                        "label": "From (name)",
                        "condition": true
                    },
                    {
                        "name": "fromEmail",
                        "type": "text",
                        "label": "From (email)",
                        "condition": true
                    },
                    {
                        "name": "to",
                        "spec": {
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                },
                                {
                                    "name": "email",
                                    "type": "text",
                                    "label": "Email"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "To",
                        "condition": true
                    },
                    {
                        "name": "cc",
                        "spec": [
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "CC",
                        "condition": true
                    },
                    {
                        "name": "bcc",
                        "spec": [
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "BCC",
                        "condition": true
                    },
                    {
                        "name": "snippet",
                        "type": "text",
                        "label": "Snippet"
                    },
                    {
                        "name": "fullTextBody",
                        "type": "text",
                        "label": "Full text body",
                        "condition": true
                    },
                    {
                        "name": "htmlBody",
                        "type": "text",
                        "label": "HTML body",
                        "condition": true
                    },
                    {
                        "name": "hasAttachment",
                        "type": "boolean",
                        "label": "Has attachment",
                        "condition": true
                    },
                    {
                        "name": "hasMedia",
                        "type": "boolean",
                        "label": "Has media",
                        "condition": true
                    },
                    {
                        "name": "sysFolders",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "System folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "System folder name"
                            }
                        ],
                        "type": "array",
                        "label": "System folders"
                    },
                    {
                        "name": "categoryFolders",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Category folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Category folder name"
                            }
                        ],
                        "type": "array",
                        "label": "Category folders"
                    },
                    {
                        "name": "userLabelFolders",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "User label folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "User label folder name"
                            }
                        ],
                        "type": "array",
                        "label": "User label folders"
                    },
                    {
                        "name": "labelIds",
                        "spec": {
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Message folder IDs"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "Delivered-To",
                                "type": "text",
                                "label": "Delivered-To"
                            },
                            {
                                "name": "Received",
                                "type": "text",
                                "label": "Received"
                            },
                            {
                                "name": "Date",
                                "type": "text",
                                "label": "Date (header)"
                            },
                            {
                                "name": "X-Original-Sender",
                                "type": "text"
                            },
                            {
                                "name": "Reply-To",
                                "type": "text"
                            },
                            {
                                "name": "Subject",
                                "type": "text",
                                "label": "Subject"
                            },
                            {
                                "name": "From",
                                "type": "text",
                                "label": "From"
                            },
                            {
                                "name": "To",
                                "type": "text",
                                "label": "To"
                            },
                            {
                                "name": "Message-ID",
                                "type": "text",
                                "label": "Message-ID"
                            },
                            {
                                "name": "In-Reply-To",
                                "type": "text",
                                "label": "In-Reply-To"
                            }
                        ],
                        "type": "collection",
                        "label": "Headers",
                        "condition": true
                    },
                    {
                        "name": "sizeEstimate",
                        "type": "number",
                        "label": "Size estimate"
                    },
                    {
                        "name": "historyId",
                        "type": "text",
                        "label": "History ID"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 4086250
            },
            "mapper": {
                "mode": "select",
                "insertUnformatted": false,
                "valueInputOption": "USER_ENTERED",
                "insertDataOption": "INSERT_ROWS",
                "from": "drive",
                "spreadsheetId": "/1UHEZpYKhXOj0nnr3JOMLrVYT9qYDa1laXfKXvd298Ks",
                "sheetId": "Sheet2",
                "includesHeaders": true,
                "values": {
                    "0": "{{1.fromEmail}}",
                    "1": "{{1.subject}}",
                    "2": "{{1.internalDate}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection (polene189@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "mode": {
                            "label": "Search by path"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "from": {
                            "label": "My Drive"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Email réçu"
                            ]
                        },
                        "sheetId": {
                            "label": "Sheet2"
                        },
                        "includesHeaders": {
                            "nested": [
                                {
                                    "name": "values",
                                    "label": "Values",
                                    "type": "collection",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "label": "Expéditeur (A)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "1",
                                            "label": "sujet (B)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "2",
                                            "label": "Date (C)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "3",
                                            "label": "(D)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "4",
                                            "label": "(E)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "5",
                                            "label": "(F)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "6",
                                            "label": "(G)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "7",
                                            "label": "(H)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "8",
                                            "label": "(I)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "9",
                                            "label": "(J)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "10",
                                            "label": "(K)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "11",
                                            "label": "(L)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "12",
                                            "label": "(M)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "13",
                                            "label": "(N)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "14",
                                            "label": "(O)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "15",
                                            "label": "(P)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "16",
                                            "label": "(Q)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "17",
                                            "label": "(R)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "18",
                                            "label": "(S)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "19",
                                            "label": "(T)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "20",
                                            "label": "(U)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "21",
                                            "label": "(V)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "22",
                                            "label": "(W)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "23",
                                            "label": "(X)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "24",
                                            "label": "(Y)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "25",
                                            "label": "(Z)",
                                            "type": "text"
                                        }
                                    ]
                                }
                            ],
                            "label": "Yes"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "type": "collection",
                        "label": "Values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "Expéditeur (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "sujet (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "Date (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "(D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "(E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "(F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "(G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "(H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "(I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "(J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "(K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "(L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "(M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "(N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "telegram:SendReplyMessage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 4086639
            },
            "mapper": {
                "chatId": "7777391433",
                "text": "📩 Nouvel email reçu !\r\nDe : {{1.fromEmail}}\r\nSujet : {{1.subject}}",
                "messageThreadId": "",
                "parseMode": "",
                "disableNotification": false,
                "disableWebPagePreview": false,
                "replyToMessageId": "",
                "replyMarkupAssembleType": "reply_markup_enter",
                "replyMarkup": ""
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Telegram Bot connection",
                            "data": {
                                "scoped": "true",
                                "connection": "telegram"
                            }
                        }
                    },
                    "expect": {
                        "parseMode": {
                            "label": "Empty"
                        },
                        "disableNotification": {
                            "mode": "chose"
                        },
                        "replyMarkupAssembleType": {
                            "label": "Enter the Reply Markup"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:telegram",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "chatId",
                        "type": "text",
                        "label": "Chat ID",
                        "required": true
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text",
                        "required": true
                    },
                    {
                        "name": "messageThreadId",
                        "type": "number",
                        "label": "Message Thread ID"
                    },
                    {
                        "name": "parseMode",
                        "type": "select",
                        "label": "Parse Mode",
                        "validate": {
                            "enum": [
                                "Markdown",
                                "HTML"
                            ]
                        }
                    },
                    {
                        "name": "disableNotification",
                        "type": "boolean",
                        "label": "Disable Notifications"
                    },
                    {
                        "name": "disableWebPagePreview",
                        "type": "boolean",
                        "label": "Disable Link Previews"
                    },
                    {
                        "name": "replyToMessageId",
                        "type": "number",
                        "label": "Original Message ID"
                    },
                    {
                        "name": "replyMarkupAssembleType",
                        "type": "select",
                        "label": "Enter/Assemble the Reply Markup Field",
                        "validate": {
                            "enum": [
                                "reply_markup_enter",
                                "reply_markup_assemble"
                            ]
                        }
                    },
                    {
                        "name": "replyMarkup",
                        "type": "text",
                        "label": "Reply Markup"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}